@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.alert-success {
    @apply bg-nord14;
}

.alert-warning {
    @apply bg-nord12;
}

.alert-error {
    @apply bg-nord11;
}